.home {
	width: 90%;
	max-width: 40rem;
	padding: 3rem;
	margin: 2rem auto;
	text-align: center;
}

.button {
	background-color: rgb(247, 3, 223);
	color: rgb(255, 255, 255);
	border-color: aqua;
	border-width: 6px;
	font-size: x-large;
	box-shadow: 5px 10px;
}
